<!-- copied from lookup -->
<!-- to decide: if we want to allow multiple search: by keyword, by date, etc. -->
<form method="GET" action="/filter/">
    <p>
        <label> Filter events: 
            <input
              type="checkbox"
              name="age"
              value="age" />
            <label for="age">21+</label>
            <input
              type="checkbox"
              name="food"
              value="food" />
            <label for="food">Food</label>
            <input
              type="checkbox"
              name="onCampus"
              value="onCampus" />
            <label for="onCampus">On Campus</label>
            <input
              type="checkbox"
              name="offCampus"
              value="offCampus" />
            <label for="offCampus">Off Campus</label>
            <input
              type="checkbox"
              name="sports"
              value="sports" />
            <label for="sports">Athletics</label>
            <input
              type="checkbox"
              name="org"
              value="org" />
            <label for="org">Org Event</label>
        </label>
        <input class="button-style" type="submit" value="filter">
    </p>
</form>