<nav>
  <span><a href="/explore">Explore</a></span>
  <span><a href="/myevent">MyEvents</a></span>
  <span><a href="/savedevent">SavedEvents</a></span>
  <span><a href="/profile">Profile</a></span>
  <span><a href="/addevent">AddEvents</a></span>
</nav>
