
<form method="GET" action="/search/">
    <p>
        <label>Search for people you may know: <input type="text" name="entry"></label>
        <label>
            <select name="kind">
                <option value="">Search Type</option>
                <option value="name">Name</option>
                <option value="username">Username</option>
            </select>   
        <input type="submit" value="search">
    </p>
</form>