<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Node Starter</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <h2>Register:</h2>
  <p>
    <form action="/register" method="POST">
        <label> Name
            <input type="text" name="name" placeholder="Wendy Wellesley">
        </label>
        <label> Username
            <input type="text" name="username" placeholder="ww100">
        </label>
        <label> Email
            <input type="text" name="email" placeholder="ww100@wellesley.edu">
        </label>
        <label> Password
            <input type="text" name="password" placeholder="********">
        </label>
      <button type="submit">register</button>
    </form>
  </p>

    <!-- load local js -->
    <script src="/main.js"></script>
    <script>
        var uid = "<%= uid %>";
        if(uid !== 'unknown') {
            $("#logged-in").show();
            $("#not-logged-in").hide();
        } else {
            $("#logged-in").hide();
            $("#not-logged-in").show();
        }
    </script>
</body>
</html>
