body {
  font-family: "Karla", sans-serif!important;
}

h1 {
  color: purple;
}


nav {
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  width: 90%; /* Occupy the full width of the container */
  padding: 10px; /* Add some padding for better spacing */
  box-sizing: border-box; /* Include padding in the width calculation */
  margin: 0 auto; /* Center the navigation bar horizontally */
}

nav span {
  margin: 0 10px;
}

nav span a {
  display: inline-block;
  padding: 10px 40px;
  text-decoration: none;
  color: white;
  background-color: #D29DDE;
  border-radius: 20px;
  transition: background-color 0.3s;
}

nav span a:hover {
  background-color: #c46ad8;
}

span {
  margin-right: 20px; /* Adjust as needed for spacing */
}

span:last-child {
  margin-right: 0; /* Remove margin from the last span */
}

#errors {
  color: red;
}

.event-details {
  border: 1px solid #d29dde; /* Add a 1px solid border with light gray color */
  padding: 10px; /* Add some padding inside the border */
  margin-bottom: 20px; /* Add some space between each event */
  border-radius: 5px; /* Add border-radius for curved edges */
  background-color: #d29dde; /* Fill in the box with a light green color */
  max-width: 500px; /* Limit the width of the box to 500px */
  margin-right: 20px; /* Add some space between each box */
  float: left; /* Float the box to the left */
  clear: both; /* Clear floats */
}

ol {
  list-style-type: none; /* Remove the default numbering */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}