h1 {
  color: purple;
}
nav {
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  width: 100%; /* Occupy the full width of the container */
  padding: 10px; /* Add some padding for better spacing */
  box-sizing: border-box; /* Include padding in the width calculation */
}

nav span {
  margin: 0 10px;
}

nav span a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #D29DDE;
  border-radius: 20px;
  transition: background-color 0.3s;
}

nav span a:hover {
  background-color: #cb87db;
}

span {
  margin-right: 20px; /* Adjust as needed for spacing */
}

span:last-child {
  margin-right: 0; /* Remove margin from the last span */
}

#errors {
  color: red;
}
